<ion-header [translucent]="true" class="tasks__header">
  <ion-toolbar>
    <ion-title class="tasks__brand">{{ 'brand' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="tasks__content">
  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="tasks__container">
    <section class="tasks__input-section">
      <app-task-input
        [showCategorySelector]="enableCategories()"
        [categories]="categories()"
        (add)="onAdd($event)"
      ></app-task-input>
      <div class="tasks__date">{{ today() }}</div>
    </section>

    @if (enableCategories() && categories().length > 0) {
      <div class="tasks__filter-row">
        <app-category-picker
          [options]="filterOptions()"
          [selectedKey]="filterValue()"
          (select)="filterValue.set($event)"
        ></app-category-picker>
      </div>
    }

    <div class="tasks__list">
      @for (task of visibleTasks(); track trackById($index, task)) {
        <app-task-item
          [task]="task"
          [showCategory]="enableCategories()"
          (toggle)="onToggle($event)"
          (remove)="onRemove($event)"
        ></app-task-item>
      } @empty {
        <p class="tasks__empty">{{ 'tasks.empty' | translate }}</p>
      }
    </div>
  </div>

  <ion-infinite-scroll
    threshold="33%"
    [disabled]="!hasMore()"
    (ionInfinite)="onLoadMore($event)"
  >
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
