<div class="task-input">
  <div class="task-input__row">
    <input
      class="task-input__field"
      type="text"
      [placeholder]="'tasks.placeholder' | translate"
      [ngModel]="title()"
      (ngModelChange)="title.set($event)"
      (keyup.enter)="submit()"
    />
    <ion-icon
      class="task-input__add"
      name="add"
      role="button"
      aria-label="Add task"
      (click)="submit()"
    ></ion-icon>
  </div>

  @if (showCategorySelector() && categories().length > 0) {
    <app-category-picker
      [options]="pickerOptions()"
      [selectedKey]="pickerSelected()"
      (select)="onPick($event)"
    ></app-category-picker>
  }
</div>
